

.

header{
    width: 100%;
    max-width: 1500px;
    position: fixed;
    top:0;
    
}

.coachtech{
    display: flex;
    align-items: center;
    color: #00277E;
}

.coachtech__title{
    position: relative;
    margin: 20px;
    font-size: 30px;
}

.coachtech__form{
    margin-left: auto;
}

ul{
    list-style: none;
    display: flex;
    font-weight: bold;
}

.coachtech__elements{
    margin-right: 30px ;
    
}



.contents__image{
    text-align: right;
    margin-top: 10vh;
   
}

img{
    position: relative;
    z-index: 10;

    width: 50%;
    height: 350px;
    object-fit: contain;

 
    
}

.contents__sentence{
    font-size: 60px;
    position: absolute;
    top: 50vh;
}

.contents__sentence--detail{
    margin-bottom: 0;
}


.contents__colorbox{
    width: 80vw;
    height: 200px;
    background-size: cover;
    background-color: #00277E;
    z-index: 1;
    position: relative;
    top: 0;

    margin-bottom: 100px;

}
